<footer class="footer">
  <div class="footer__inner">
    <div>
      <h2 class="footer__title">Контакты</h2>
      <p class="footer__text">
        Email: <a class="footer__link" href="mailto:student@nstu.ru">student@nstu.ru</a>
      </p>
      <p class="footer__text">Телефон: +7 (999) 123-45-67</p>
    </div>
    <div>
      <h2 class="footer__title">Социальные сети</h2>
      <div class="footer__social">
        <a class="footer__social-link" href="#">Instagram</a>
        <a class="footer__social-link" href="#">Twitter</a>
        <a class="footer__social-link" href="#">LinkedIn</a>
        <a class="footer__social-link" href="#">GitHub</a>
      </div>
    </div>
  </div>
</footer>
